{
  "singleQuote": false,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "all",
  "proseWrap": "never"
}
